In [1]:
import pandas as pd
import numpy as np
from joblib import dump, load

In [2]:
rating = pd.read_csv(r'D:\Users\hao.guo\deepctr\recsys\movielen\ml-20m\ratings.csv')
rating.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [3]:
movies = pd.read_csv(r'D:\Users\hao.guo\deepctr\recsys\movielen\ml-20m\movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
rating['label'] = rating['rating'].apply(lambda s: 1 if s >= 4 else 0)

In [5]:
rating = pd.merge(rating, movies, on=['movieId'], how='left')

In [6]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
for c in ['userId', 'movieId']:
    rating[c] = lb.fit_transform(rating[c])

In [7]:
rating.head()

,userId,movieId,rating,timestamp,label,title,genres
0,0,1,3.5,1112486027,0,Jumanji (1995),Adventure|Children|Fantasy
1,0,28,3.5,1112484676,0,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,0,31,3.5,1112484819,0,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,0,46,3.5,1112484727,0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,0,49,3.5,1112484580,0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [9]:
dump(rating[['userId', 'movieId', 'timestamp', 'label', 'genres']], r'D:\Users\hao.guo\deepctr\recsys\movielen\ml-20m\movies_data.pkl')

['D:\\Users\\hao.guo\\deepctr\\recsys\\movielen\\ml-20m\\movies_data.pkl']

In [21]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(rating, shuffle=True, test_size=0.3, random_state=2020, stratify=rating['label'])

In [22]:
train.head()

,userId,movieId,rating,timestamp,label,title,genres
16281738,112712,376,2.0,835253087,0,True Lies (1994),Action|Adventure|Comedy|Romance|Thriller
12828475,88646,767,4.0,863278038,1,Independence Day (a.k.a. ID4) (1996),Action|Adventure|Sci-Fi|Thriller
18424764,127515,1173,4.5,1313966519,1,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure
708291,4701,246,3.0,831880373,0,Immortal Beloved (1994),Drama|Romance
19955544,138170,3487,3.0,1111647260,0,Gladiator (2000),Action|Adventure|Drama

In [23]:
dump(train[['userId', 'movieId', 'timestamp', 'label', 'genres']], r'D:\Users\hao.guo\deepctr\recsys\movielen\ml-20m\train.pkl')

['D:\\Users\\hao.guo\\deepctr\\recsys\\movielen\\ml-20m\\train.pkl']

In [24]:
dump(test[['userId', 'movieId', 'timestamp', 'label', 'genres']], r'D:\Users\hao.guo\deepctr\recsys\movielen\ml-20m\test.pkl')

['D:\\Users\\hao.guo\\deepctr\\recsys\\movielen\\ml-20m\\test.pkl']

In [27]:
rating['movieId'].nunique()

26744